@model Sduo.Models.Course

@{
    ViewBag.Title = "Redigér fag";
}

<h2>Redigér fag</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Course</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <button onclick="@Url.Action("Save")">Gem</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tilbage til Fag", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
